@model BookLibrary.Model.Author

@{
    ViewBag.Title = "Author Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Author Details</h2>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacionality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacionality)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AuthorId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
